{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'hotel/style.css' %}">

{% if menu_list %}
    <ul style = "list-style: none;">
    <center><h1>Menu</h1></center>
    <center><h3>Starters</h3></center>
    {% for item in menu_list %}
        {%if item.type_of_dish == 'STARTER'%}
            <center><li><a href="/hotel/{{ item.id }}/">{{item.dish_text}} | £{{item.price}}</a></li></center>
        {%endif%}
    {% endfor %}
    <center><h3>Main Dishes</h3></center>
    {% for item in menu_list %}
        {%if item.type_of_dish == 'MAIN'%}
            <center><li><a href="/hotel/{{ item.id }}/">{{item.dish_text}} | £{{item.price}}</a></li></center>
        {%endif%}
    {% endfor %}
    <center><h3>Dessert</h3></center>
    {% for item in menu_list %}
        {%if item.type_of_dish == 'DESSERT'%}
            <center><li><a href="/hotel/{{ item.id }}/">{{item.dish_text}} | £{{item.price}}</a></li></center>
        {%endif%}
    {% endfor %}
    <center><h3>Drinks</h3></center>
    {% for item in menu_list %}
        {%if item.type_of_dish == 'DRINK'%}
            <center><li><a href="/hotel/{{ item.id }}/">{{item.dish_text}} | £{{item.price}}</a></li></center>
        {%endif%}
    {% endfor %}
    </ul>
{% else %}
    <p>No dishes are available.</p>
{% endif %}